<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmandy.dao.backstage.ISystemUserMapper">

    <select id="getByName" resultType="com.lmandy.bean.AccountSystemUser">
        SELECT * FROM account_system_user WHERE userName = #{_parameter}
    </select>
    <select id="getListByCommon" resultType="com.lmandy.bean.AccountSystemUser" parameterType="com.lmandy.utils.PageBean">
        SELECT
        *
        FROM account_system_user
        WHERE 1=1
    </select>
    <select id="getCountByCommon" resultType="java.lang.Integer" parameterType="com.lmandy.utils.PageBean">
        SELECT
        COUNT(1)
        FROM account_system_user
        WHERE 1=1
    </select>
</mapper>